<html>
    <head>
        <meta charset="utf-8">
        <title>VueJs</title>
        <link href="style.css" rel="stylesheet">
        <script src="https://unpkg.com/vue"></script>
    </head>
    
    <body>
        <div id="vue-app">
            <span>first: {{ hobby[0] }} </span>
            <ul>
                <li v-for="(h, idx) in hobby">{{ idx+1 }} - {{ h }}</li>
            </ul>            
            <!-- <ul>
                <li v-for="(f, idx) in friends">
                    <span>NO.{{ idx+1 }} {{ f.name }}- {{ f.status }}</span>
                </li>
            </ul> -->
            <template v-for="(f, idx) in friends">
                <span>NO.{{ idx+1 }} {{ f.name }}- {{ f.status }}</span>
            </template>
            <div v-for="(f, idx) in friends">
                <span>NO.{{ idx+1 }} {{ f.name }}- {{ f.status }}</span>
            </div>
        </div>
    </body>
    <script src="app.js"></script>
</html>