<html>
    <head>
        <meta charset="utf-8">
        <title>VueJs</title>
        <link href="style.css" rel="stylesheet">
        <script src="https://unpkg.com/vue"></script>
    </head>
    
    <body>
        <div id="vue-app">
            <h1>V show V if</h1>
            <button v-on:click="error = !error">AAAA</button>    
            <button v-on:click="success = !success">BBBB</button>  
            <div>
                <span v-if="error">you got error</span>
                <span v-if="success">you will be success</span>
            </div>
        </div>
    </body>
    <script src="app.js"></script>
</html>